language: go
go:
  - '1.10'
  - '1.11'
  - '1.12'
  - '1.13'
  - tip
sudo: false

install:
  - go get golang.org/x/lint/golint

script:
  - bash script/codecov.sh
  - go vet $(go list ./... | grep -v /examples/)
  - golint --set_exit_status ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
