language: go
go:
  - '1.10'
  - '1.11'
  - '1.12'
  - tip
sudo: false

install:
  - go get golang.org/x/lint/golint

script:
  - go test -v -race ./...
  - go vet $(go list ./... | grep -v /examples/)
  - golint --set_exit_status ./...
