name: Go Test

on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        go:
        - stable
        - oldstable
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.x'

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go }}

    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@latest


    - name: Generate code
      run: python generate-code.py

    - name: run test.sh
      run: bash script/test.sh

    - name: go vet
      run: go vet $(go list ./... | grep -v /examples/)

    - name: Compile example scripts
      run: |
        for file in $(find ./examples/ -name '*.go'); do
          dir=$(dirname $file)
          pushd $dir
          go build -o /dev/null
          popd
        done

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          skip_push: "true"
