name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
        - '1.22'
        - '1.23'
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@latest


    - name: Generate code
      run: python generate-code.py

    - name: run codecov.sh
      run: bash script/codecov.sh

    - name: go vet
      run: go vet $(go list ./... | grep -v /examples/)

    - name: Compile example scripts
      run: |
        for file in $(find ./examples/ -name '*.go'); do
          dir=$(dirname $file)
          pushd $dir
          go build -o /dev/null
          popd
        done

    - name: Publish to codecov.io
      run: bash <(curl -s https://codecov.io/bash)

  pinact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@a6896d13d22e2bf108a78b0c52d3f867c1f41b34 # v0.2.1
        with:
          skip_push: "true"
