name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
        - '1.19'
        - '1.19.11'
        - '1.20'
        - '1.20.6'
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: run codecov.sh
      run: bash script/codecov.sh

    - name: go vet
      run: go vet $(go list ./... | grep -v /examples/)

    - name: Publish to codecov.io
      run: bash <(curl -s https://codecov.io/bash)
